<html>

<head></head>

<body>
    <form>
        <label for="name">Name</label>
        <input name="name" type="text" required>

        <label for="phone-number">Phone Number</label>
        <input name="phone-number" type="text" required>

        <label for="email">Email</label>
        <input name="email" type="email">

        <button type="submit">Submit</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src='static/js/form.js'></script>
</body>

</html>